# UTF-8 テキストファイルの設定（LF 改行、カスタムホワイトスペースルール付き）
*.h       text eol=lf diff=c whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
*.json    text eol=lf diff=c whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
*.txt     text eol=lf diff=c whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2

# UTF-16LE-BOM でエンコードされたファイルについては、テキストとして扱うための設定
*.mq?     text working-tree-encoding=UTF-16LE-BOM diff=c
*.mqproj  text working-tree-encoding=UTF-16LE-BOM diff=c

# 明示的にバイナリとして扱うファイル
*.ex?     binary -text diff
